<%- include('../partials/header') %>

<h2>Add a new recipe!</h2>

<!-- //update form  here using methodoverride -->
<form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">


  <label>Title:
    <input type="text" name="title" value="<%= recipe.title %>">
  </label><br>

  <label>Date:
    <input type="date" name="date" value="<%= recipe.date %>">
  </label><br>

  <label>Image URL:
    <input type="text" name="imageUrl" value="<%= recipe.imageUrl%>">
  </label><br>

  <label>Ingredients (separate ingredients with commas):
    <input type="text" name="ingredients" value="<%= recipe.ingredients.join(',  ') %>">
  </label><br>

  <label>Instructions:
    <input type="text" name="instructions" value="<%= recipe.instructions %>">
  </label><br>
  <button type="submit">Update Recipe</button>

<%- include('../partials/footer') %>