<%- include('../partials/header') %>

<ul>

    <% for(const key in recipe) { %>
      <% if(key !== '_id' && key !== '__v' && key !== 'comment' && key !== 'updatedAt'  && key !== 'comments') { %>
        <li><%= key[0].toUpperCase() + key.substring(1) %>: <%= recipe[key] %></li>
      <% } %>
    <% } %>
  </ul>


<!-- RENDER COMMENTS FORM -->
<h2>Comments</h2>
<form id="add-comment-form" method="POST" action="/recipes/<%= recipe._id %>/comments">
  <label>Comments:</label>
  <textarea name="content"></textarea>
  <input type="submit" value="Add Comment">
</form>

<!-- render comments -->
<% if (recipe.comments && recipe.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <% recipe.comments.forEach(function(c) { %>
        <tr>
          <td><%= c.createdAt.toLocaleString() %></td>
          <td><%= c.content %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
<h5>No Comments Yet</h5>
<% } %>


<div class="r-edit">
  <a href="/recipes/<%= recipe._id %>/edit">Edit your Recipe!</a>
</div>




<%- include('../partials/footer') %>